{% extends "layout.html" %}
{% block body %}
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="">
                    <strong>Kcabo inc.</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Keep Calm And Blitz On.</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
            </div>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">仮想通貨をもっと身近に</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">2017年Bitcoinをはじめ仮想通貨を取り巻く環境は急速に変わっています。<br>
                仮想通貨の売買等を規制する改正資金決済法が2017年4月1日より施行され、仮想通貨にかかる消費税は非課税となり今後一層国内外問わず浸透すると考えられます。
                </p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Services</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"></h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-book text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">メディア</h3>
                    <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-cloud text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">マイニング</h3>
                    <p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-tachometer text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Webコンサル</h3>
                    <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-line-chart text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">マイニングアドバイス</h3>
                    <p class="text-muted mb-0">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
                    <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
                    <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
                    <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
                    <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
                    <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
                    <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">会社情報</h2>
                <hr class="my-4">
                <div class="mb-5">
                    <dl class="row">
                        <dt class="col-sm-3 text-left">会社名</dt>
                        <dd class="col-sm-9 text-left">Kcabo inc.</dd>
                        <dt class="col-sm-3 text-left">設立</dt>
                        <dd class="col-sm-9 text-left">2017年 12月 20日</dd>
                        <dt class="col-sm-3 text-left">資本金</dt>
                        <dd class="col-sm-9 text-left">900万円</dd>
                        <dt class="col-sm-3 text-left">本社所在地</dt>
                        <dd class="col-sm-9 text-left">東京都渋谷区恵比寿南1-1-1 Humax Ebisuビル 8F</dd>
                        <dt class="col-sm-3 text-left">電話番号</dt>
                        <dd class="col-sm-9 text-left">03-6871-9396</dd>
                        <dt class="col-sm-3 text-left">代表取締役</dt>
                        <dd class="col-sm-9 text-left">高橋 翔一郎</dd>
                    </dl>
                </div>
                <p class="mb-5"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="POST" action="/action/contact">
                    <div class="form-group row">
                        <label for="contact-email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control-plaintext" id="contact-email" placeholder="mail@address.com" name="email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="contact-content" class="col-sm-2 col-form-label">Content</label>
                        <div class="col-sm-10">
                            <textarea id="contact-content" class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-outline-dark center-block col-12">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}